html {
	height: 100%;
}

header {
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px; 
}

#nav-name {
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}

#nav-name a:link {
	font-family: 'Abril Fatface', cursive;
	font-size: 20px; 
}	

#contact-links {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding {
	padding-right: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 15px;
    height: 50px;
}

li {
	float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:  #080705;
	font-family: 'Dosis', sans-serif;
}

a:link {
    text-decoration: none;
	color:  #080705;
	font-family: 'Dosis', sans-serif
}

a:visited {
	color:  #080705;
}

a:hover {
	color:  #080705;
	font-weight: bold;
	font-size: 15px;
}

a:active {
	color: gray;
}


h1 {
	font-size: 50px;
}


h1, h2 {
	color: #080705;
    font-family: 'Abril Fatface', cursive; 
    text-align: center;
}

h3 {
	color: #080705;
    font-family: 'Dosis', sans-serif; 
    text-align: center;
    font-size: 22px;
}

p {
	padding: 20px;
	max-width: 750px;
	margin: auto;
	font-family: 'Dosis', sans-serif;
	font-size: 20px; 
}

.section {
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#selfie {
	border-radius: 50%;
    width: 15%; 
    padding: 25px;
    min-width: 150px;
}

#name {
	padding-top: 150px;
	padding-bottom: 150px;
	background-size: cover;
	background-image: url("assets/palmtrees.jpg");
	background-repeat: no-repeat;
}	

#about {
	background-color: #F2DDDE;
}

#about a {
	font-family: 'Abril Fatface', cursive; 
}

#projects, #rp h1 {
	padding-top: 50px;
}

#projects {
	background-color: white;
	padding-top: 0px;
}


#sitepic {
	width: 33%;
	min-width: 350px;
} 

#rp img {
	min-width: 350px;
	width: 50vw;
}

#projects a:link {
	font-family: 'Abril Fatface', cursive; 
}

#projects a:hover {
	font-size: 25px; 
}

#projects img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.project {
	padding-bottom: 60px;
}

#contact {
	background-image: url("assets/water.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 200px;
}

#contact h2 {
	color: black;
}

#contact a:link, #contact a:visited, #contact a:active, #contact a:hover{
	font-family: 'Abril Fatface', cursive;
	color: black;
}

#contact a:hover {
	font-weight: bold;
	font-size: 18px;
}

#rp, #wearehear p {
	text-align: center;
}

#rp, #wearehear p:last-of-type {
	padding-bottom: 50px;
}

#rp, #wearehear img {
	display: block;
    margin: 0 auto;
    padding: 20px;
}

#wearehear img {
	width: 85%;
}
#wearehear img:first-of-type {
	width: 50%;
}

#rp h2 {
	margin-top: 50px;
}


